# NAMESPACE for AHMbook package

importFrom("grDevices", "colorRampPalette", "devAskNewPage",
             "topo.colors")
importFrom("graphics", "abline", "barplot", "curve", "hist", "image",
           "lines", "matplot", "par", "plot", "points", "polygon",
           "rect", "segments", "text", "title")
importFrom("methods", "as", "is", "new")
importFrom("stats", "as.formula", "coef", "confint", "dbinom",
           "dnbinom", "dnorm", "dpois", "fitted", "integrate", "lm",
           "model.frame", "model.matrix", "model.offset", "optim",
           "plogis", "qlogis", "quantile", "rbinom", "residuals",
           "rexp", "rmultinom", "rnbinom", "rnorm", "rpois", "runif",
           "var", "vcov")
importFrom("utils", "head", "stack")
importFrom("unmarked", "unmarkedEstimate", "unmarkedFrameOccu", "occuRN", "bup", "ranef",
  "getData", "linearComb", "SE", "predict", "coef")
importClassesFrom("unmarked", "unmarkedFitPCount")
importFrom("raster", "raster", "extent", "extent<-", "rasterFromXYZ", "getValues", "image")
importFrom("plotrix", "draw.circle")
importFrom("RandomFields", "RFoptions", "RFsimulate", "RMexp")
importFrom("sp", "bubble", "coordinates<-")
importFrom("matrixStats", "rowProds")


# Chapter 1
export("sim.fn")

# Chapter 3
# export("body", "color", "damage", "mites", "pop", "sex", "wing")

# Chapter 4
export("data.fn")

# Chapter 6
export("simNmix", "ppc.plot", "plot_Nmix_resi", "map.Nmix.resi", "simpleNmix", "playRN")
export("plot.Nmix.resi") # defunct
# Nhat taken out

# Chapter 7
export("fitstats", "fitstats2")
export("crPiFun", "crPiFun.Mb", "MhPiFun", "instRemPiFun")

# Chapter 8
export("sim.ldata", "sim.pdata", "simHDS")

# Chapter 9
export("simHDSg", "simHDStr", "simHDSopen", "issj.sim", "sim.spatialDS", "pcount.spHDS")
export("e2dist")
# export("image.scale")

# Chapter 10
export("simOcc", "sim3Occ", "simOccttd", "wigglyOcc", "spline.prep")

# Chapter 11
export("simComm")

# Chapter 15
export("simDynocc.fn")

# Chapter 17
export("simDCM")

# Chapter 20
export("spatial.exp")

# Chapter 21
# export("data.fn") # NAME CLASH

exportMethods(predict)




